---
version: 2

updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    groups:
      github-actions:
        update-types:
          - minor
          - patch
  - package-ecosystem: docker
    directory: .devcontainer
    schedule:
      interval: daily
    cooldown:
      default-days: 7
  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    commit-message:
      prefix: "feat(deps)"
    groups:
      git-submodules:
        patterns: ["amp-*"]
